################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StarWars/Properties
/StarWars/obj
/StarWars/bin/Debug/net8.0
/StarWars/.vs
/.vs
