@section Styles {
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
}

<h2 class="incinerator-title">Starship Incinerator</h2>

<p class="notice">
    Are you sure you want to delete the starship <strong>@Model.Name</strong>?
</p>

<form asp-action="Delete" method="post" class="delete-form">
    <input type="hidden" name="Id" value="@Model.Id" />

    <button type="submit" class="btn-delete">Delete</button>
    <a href="/Home/Index" class="btn-cancel">Cancel</a>
</form>