@model List<StarShipImage>

<h2>All Starship Images</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var starship in Model)
        {
            <tr>
                <td>@starship.Name</td>
                <td><img src="@starship.Image" alt="@starship.Name" style="width:100px;" /></td>
                <td>
                    <a href="/Home/Edit/@starship.Id" class="btn btn-warning">Edit</a>
                    <a href="/Home/Delete/@starship.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Home/Create" class="btn btn-primary">Add New Starship</a>
